* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(
        304deg, rgba(34,193,195,1) 0%,
         rgba(253,187,45,0.9332107843137255) 83%
         );

    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0,0,0 0.2);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin: 30px 0;
}

nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
}